In [1]:
import pandas as pd
import numpy as np
import catboost
import pickle
from sklift.models import ClassTransformation

# Data

In [11]:
data = pd.read_csv('artifacts/data_test.csv')
data = data.drop(columns=['card_own', 'from_redeem', 'trademark', 'popular', 'regularR', 'regularS', 'expresR',
                          'n_purchases', 'alcohol', 'netto', 'frequency', 'last_p', 'popular_store', 'popular_brand',
                          'popular_lvl3', 'popular_vr', 'trn_red', 'trn_iss', 'popular_cnt', 'receipt',
                          'full_sum', 'max_sum', 'min_sum'])
data.head()

,client_id,age,gender,first_issue_date,first_redeem_date,issue_redeem_delay,expresS,mean_sum,receipt_cnt
0,a9a604ed6e,36,F,1536860201,NaN,NaN,0.0,629.506000,4
1,ebd7360016,63,F,1499101932,1.504283e+09,5180580.0,0.0,183.244194,0
2,908cd9b8e8,49,F,1522429280,1.531502e+09,9072272.0,0.0,364.296471,7
3,dceb8ce861,46,U,1507309602,1.534013e+09,26703436.0,0.0,1377.543333,6
4,f4f0ac6b06,119,U,1530135581,1.550262e+09,20126096.0,0.0,746.666667,9

In [12]:
idx = np.array(data['client_id'])
X_test = data.drop(columns=['client_id'])

# Predict

In [16]:
with open('artifacts/model.ml', 'rb') as file:
    model = pickle.load(file)
uplift = model.predict(X_test)

# Result

In [17]:
solution = pd.DataFrame({'client_id': idx, 'pred': uplift})
solution.to_csv('artifacts/submission.csv', index=False)
solution.head()

    client_id      pred
0  a9a604ed6e -0.000490
1  ebd7360016  0.096849
2  908cd9b8e8  0.035311
3  dceb8ce861  0.024031
4  f4f0ac6b06  0.103113